aioredis
asgiref
async-timeout
attrs
autobahn
Automat
cffi
channels
channels-redis
constantly
daphne
Django
django-bootstrap-form
django-filter
djangorestframework
hiredis
hyperlink
idna==3.2
incremental==21.3.0
msgpack==1.0.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
pytz==2021.1
service-identity==21.1.0
six
sqlparse
Twisted
twisted-iocpsupport
txaio
typing-extensions
zope.interface
